div {
    background-color:orange;
    width: 100%;
}
div div {
    background-color: rgb(47, 220, 20);
    width: 45%;
    padding: 2.5%;
    float: left;
}
div div div {
    background-color: brown;
}
#card{
    background-color: gold;
    padding: 10px;
    clear:both
}
.links {
    background-color: limegreen;
    clear:both;
    text-align: center;
}