h1 {
    text-align: center;
    background-color: rgb(124, 251, 255);
    padding-left: 25%;
    padding-right: 25%;
    
}
img{
    height: 450px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h2{
    text-align: center;
}
p{
    text-align: center;
     padding-left: 30%;
    background-color: rgb(255, 212, 235);
}
div{
   background-color: rgb(255, 212, 235);
    margin-bottom: auto;
    margin: auto;
}
#section{
    background-color: black;
    margin-bottom: 25px;
    width: 800px;
}
a{
    background-color: rgb(255, 178, 71);
    padding: 0px 75px;
    color: black;}