H1{
    text-align: center;
    background-color: rgb(83, 116, 118);
    width: 60%;
    margin: auto;
    
}
h3{
width: 60%;
margin: auto;
text-align: center;
background-color: rgb(202, 208, 122);
}
img{
width: 60%;
background-color: rgb(83, 116, 118);
}

p{

text-align: center;
    width: 60%;
    margin: auto;
background-color: rgb(83, 116, 118);
height: 100px;
color: white;
}
h3 {
    text-align: center;
    width: 60%;
    margin: auto;
background-color: sandybrown;
height: 100px;
color: white;
height: 20px;
}
h2 {
    text-align: center;
    width: 60%;
    margin: auto;
background-color: sandybrown;
height: 100px;
color: white;
height: 20px;
}

hr{
width: 60%;
margin: auto;
border-radius: 10px;
}
body{
    text-align: center;
    margin: auto;
}



nav a:hover{
    background-color: rgb(255, 255, 255);
}
ul {
    width: 57.5%;
    margin: auto;
    text-align: center;
    background-color: rgb(83, 116, 118);
}