h1{
    text-align: center;
    padding-top: 75px;

}
img.aa{
    float: left;
    height: 30px;
    width: 60px;
    padding-top: 16px;
}
img.a{
    float: left;
    height: 30px;
    width: 30px;
    padding-right: 10px;
    padding-top: 16px;
}
h2.nav{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
hr{
  clear: both;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    width: 150px;
    font-size: 2em;
    float: right;
    margin: 5px 0px 0px 0px;
    border: black;
}
button.a {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    width: 150px;
    font-size: 2em;
    float: right;
    margin: 5px 0px 0px 0px;
}
img.aaa{
    float: right;
    height: 40px;
    width: 40px;
    padding-right: 10px;
    padding-top: 15px;
}
h2.a{
   float: inline-start;
    font-weight: bold;
}
p{
    float: left;
    font-size: larger;
    padding-top: 6px;
    word-spacing: 10px;
}
img.aaaa{
    height: 300px;
    width: 300px;
    float: left;
}
img{
    height: 300px;
    width: 500px;
}
section.middle{

}
p.middle{
    font-size: x-large;
}
.page-layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}