div{  
text-align: center;
}
main {
    float: right;
    border: dotted black;
    background-color: rgb(255, 84, 84);
    height: 750px;
    width: 14%;
    margin-left: auto;
}
body{
    text-align: center;
    background-color:rgb(216, 165, 224)
}
nav{
    float: left;
    width: 14%;
    height: 100px;
    border: dotted black;
}
nav{
    background-color: rgb(255, 84, 84);
    height: 1000px;
}
h1 {
    background-color: rgb(255, 84, 84);
    width: 70%;
    border: dotted black;
    margin: auto;
}
a:hover{
    color: black;
}
section{
    clear: both;
}
p{
    border: dotted black;
    background-color: rgb(255, 84, 84);
    width: 50%;
    margin: auto;
    
}
h2{
    text-align: center;
}